/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-color: #000000;
    --bg-color: #ffffff;
    --accent-color: #00cc14;
    --heart-color: #ff0000;
    --text-color: var(--main-color, #000000);
    --page-bg-color: var(--bg-color, #ffffff);
    --main-font: "Inter", sans-serif;
    --main-font-weight: 400;
    --accent-font: "PressStart2P", fantasy;
    --bg-image: repeating-linear-gradient(
        to left,
        #d3d3d3 0 2px,
        #d3d3d300 2px 4px ),    
        repeating-linear-gradient(to bottom, #d3d3d3 0 2px, #d3d3d300 2px 4px), 
        linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --like-main-body-color: none;
    --like-contour-color: var(--text-color, #000000);
    --like-sparks-color: var(--heart-color, #ff0000);
    --title-font-weight: 700;
    --btn-text-color: var(--page-bg-color, #fff);
}
